@import './App.module.scss';

.shell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    color: $grn;
    background-color: $blk;
    box-sizing: border-box;

    position: fixed;
    z-index: 666;
    padding: 0px 20px;

    .main {
        font-size: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;

        .brackets {
            color: $red;
            font-size: 28px;
            animation: 7s colorRotate cubic-bezier(0.45, 0, 0.55, 1) infinite;
        }
        .neutral {
            animation: none;
        }
        @keyframes colorRotate {
            25% {
              color: $grn; 
            }
            50% {
                color: $orn;
            }
            75% {
                color: $blu;
            }
            100% {
                color: $red;
            }
          }
        &:hover .brackets {
            color: $red;
            animation: none;
        }
    }

    .openTitle {
        color: $red;
        animation: none;
    }

    .resume {
        border-radius: 5px;
    }

    .resume a {
        text-decoration: none;
        color: $blk;
        padding: 5px 8px 3px 8px;
        display: flex;
        justify-content: center;
        text-align: center;
        cursor: pointer;
    }
    
    .ctaGrn {
        background-color: $grn;
        &:hover {
            background-image: linear-gradient(to right, $red , $ylw);
        }
    }
    .ctaRed {
        background-color: $red;
        &:hover {
            background-image: linear-gradient(to right, $ylw , $grn);
        }
    }
    .ctaOrn {
        background-color: $orn;
        &:hover {
            background-image: linear-gradient(to right, $grn , $red);
        }
    }
    .ctaBlu {
        background-color: $blu;
        &:hover {
            background-image: linear-gradient(to right, $gry , $grn);
        }
    }
}