@import-normalize;
html,
* {
  padding: 0;
  margin: 0;
  color: #fbf5f3;
  /* background-color: #312f2f; */
}

body {
  width: 100vw;
  height: 100vh;
}

.App {
  font-family: sans-serif;
  text-align: center;

  width: 70%;
  height: 100vh;
  margin: 0 auto;
  /* overflow-y: hidden; */
  overflow: hidden;
}
.portfolioTitle {
  /* font-size: 8rem; */
  display: block;
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  text-align: center;
  /* font-family: 'Bowlby One SC', cursive; */
  /* font-family: 'Rubik', sans-serif; */
  /* color: var(--tone1); */
  font-size: 11vw;
  /* border-bottom: 2px solid var(--fontdark); */
  user-select: none;
  position: relative;
  z-index: 10;
  /* background-color: yellow; */
}

.portfolioTitleAnimation {
  animation-name: example;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  /* position: relative; */
}
@keyframes example {
  0% {
    top: 0;
  }
  25% {
    display: none;
  }
  99% {
    display: block;
  }
  100% {
    top: -100%;
    /* color: green; */
  }
}

.Menu {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 11vw;
  position: relative;
  top: -100%;
  z-index: 5;
}

.MenuAnimation {
  animation-name: menu;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  /* animation-fill-mode: backwards; */
  /* position: relative; */
}
.MenuAnimationReverse {
  animation-name: menu;
  animation-duration: 1s;
  /* animation-fill-mode: forwards; */
  animation-fill-mode: backwards;
  /* position: relative; */
}
@keyframes menu {
  0% {
    right: 0;
  }
  99% {
    display: block;
  }
  100% {
    display: none;
    right: -100%;
    /* color: green; */
  }
}
@keyframes menuReverse {
  0% {
    right: -100%;
    display: none;
  }
  1% {
    display: block;
  }
  100% {
    display: initial;
    right: 0;
    /* color: green; */
  }
}

.portfolioMenu {
  font-size: 7vw;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  text-align: left;
  padding: 25px 0;
  /* box-sizing: border-box; */
}
.portfolioMenu:hover {
  text-decoration: underline;
  color: #ffd166;
}

.Content {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 8vw;
  position: relative;
  top: -200%;
  z-index: 4;
}

.subpage {
  height: 100%;
  overflow-y: auto;
  /* margin-bottom: 300px; */
}

.skillpage {
  font-size: 0.9rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content min-content min-content;
  /* grid-auto-flow: column; */
}

ul {
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
}
li {
  text-decoration: none;
  list-style-type: none;
  background-color: white;
  color: #312f2f;
  display: inline-block;
  padding: 4px 7px;
  margin: 3px;
}
.listTitle {
  background-color: #ffd166;
  margin-bottom: 15px;
}

.faded {
  background-color: #ffedc2;
  color: #312f2f;
}

.bio_page {
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
}

.bio_picture {
  padding: 25px;
  width: 200px;
  height: 200px;
}
.bio_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}
.bio-title {
  padding-bottom: 7px;
  font-size: 2.5rem;
  color: #ffd166;
}
.bio-geo {
  padding-top: 7px;
  color: #ffd166;
}

.github_logo {
  height: 50px;
  border-radius: 50%;
}

.back_button {
  background-color: #ffd16666;
  cursor: pointer;
  position: absolute;
  top: 85%;
  left: 80%;
  width: 35px;
  height: 35px;
  font-size: 1.5rem;
}
/* .back_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
} */

.blog-post {
  height: min-content;
  margin: 10px 0;
}
.blog-post:hover {
  border-bottom: 1px solid #ffd166;
}

a:link {
  text-decoration: none;
}
.blog-post-title {
  padding: 4px;
  text-align: left;
  background-color: #ffd166;
  font-size: 2rem;
}

.blog-post-metadata {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.blog-post-date {
  font-size: 1rem;
}
.blog-post-tags {
  display: flex;
  /* justify-content:  space-around; */
}

.tag {
  font-size: 0.9rem;
  background-color: #fbf5f3;
  color: #312f2f;
  padding: 2px;
  border-radius: 2px;
  margin-left: 5px;
}
